include ../templates

+girl-section({
  color: '#a1a5ff',
  image: "../assets/girls/aoba.png",
  title: {
    image: "../assets/icons/aoba_icon.png",
    name: "Aoba",
    quote: '"Kyou mo ichinichi GABARUZOI!"'
  },
  strengths: [
    "Is adorable",
    "Is a legal loli",
    "Can do the art thing",
    "Has occasional sadism"
  ],
  weaknesses: [
    "Has occasional sadism towards Hifumi",
    "Has a hard time navigating bathrooms"
  ]
})
  .subtitle Legal Loli
