include ../templates

+girl-section({
  color: '#a1a5ff',
  image: "../assets/girls/aoba.png",
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/f/f2/Th-c1.png",
    name: "Aoba",
    quote: '"A funny quote from me"'
  },
  department: {
    type: "art",
    title: "Lead Char. Designer"
  },
  strengths: [
    "Is adorable",
    "Is a legal loli",
    "Can do the art thing",
    "Has occasional sadism"
  ],
  weaknesses: [
    "Has occasional sadism towards Hifumi",
    "Has a hard time navigating bathrooms"
  ]
})
