include ../templates

+girl-section({
  sectionStyle: {'background-color': '#a1a5ff'},
  image: "../assets/girls/aoba.png"
})
  .columns
    .column
      .card
        .card-content
          .level.is-mobile
            .level-left
              .level-item
                .icon.is-large
                  img.image(src="https://vignette.wikia.nocookie.net/new-game/images/f/f2/Th-c1.png")
              .level-item
                p.title.is-5 Aoba
    .column
      .card.is-size-7-mobile
        .card-header
          .card-header-title Strengths
        .card-content
          ul
            li Is adorable
            li Is a legal loli
            li Can do the art thing
            li Has occasional sadism
          ul
      br
      .card.is-size-7-mobile
        .card-header
          .card-header-title Weaknesses
        .card-content
          ul
            li Has occasional sadism towards Hifumi
            li Has a hard time navigating bathrooms
          ul
