include ../templates

+girl-section({
  color: '#a1a5ff',
  image: "../assets/girls/aoba.png",
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/f/f2/Th-c1.png",
    name: "Aoba",
    quote: '"Ganbaruzoi!"'
  },
  strengths: [
    "Is adorable",
    "Doesn't drink nor smoke",
    "Very good at art",
    "Has a bear sleeping bag"
  ],
  weaknesses: [
    "Has occasional sadism",
    "Has a hard time navigating bathrooms",
    "Has been forced into watching panties every day from her boss until she got to a point in which panties have no longer an effect on her",
    "She can't wake up alone"
  ]
})
