include ../templates
+girl-section-r({ 'background-color': '#a1a5ff' }, "https://i.pinimg.com/originals/f2/65/df/f265df478d804b7f779d901d6474de60.png")
  .title.text-r.is-size-1 Aoba
  .subtitle.text-r.is-size-2 Oh you're in panties again...
