include ../templates
+girl-section({
  image: "https://i.imgur.com/TbG4JQx.png",
  color: '#695EA2',
  title: {
    name: "Blue Haired Shopkeeper",
    quote: '"You need to be careful with that customer!"'
  },
  strengths: [
    "Knows how to handle Hifumi", 
    "Strong managerial skills", 
    "Has a Bachelor's in Business Management"
    ],
  weaknesses: [
    "Has an employee that cannot handle Hifumi", 
    "Weak to poison"
    ]
}).subtitle Best Background Girl