include ../templates
+girl-section({ sectionStyle: { 'background-color': '#695EA2' }, image: "https://i.imgur.com/TbG4JQx.png" })
  .markdown
    include:markdown-it ../../descriptions/blue-haired-shop-keeper.md
