include ../templates
+girl-section({ 'background-color': '#695EA2' }, "https://i.imgur.com/TbG4JQx.png")
  h1.title.is-size-2.has-text-white Blue Haired Shop Keeper
  h1.subtitle.has-text-white "You need to be careful with that customer!"
