include ../templates
link(rel="stylesheet" href="../scss/blue-haired-shop-keeper.scss")

+girl-section({ sectionStyle: { 'background-color': '#695EA2', 'color': '#FFFFFF' }, image: "https://i.imgur.com/TbG4JQx.png" })
  .whitemarkdown
    include:markdown-it ../../descriptions/blue-haired-shop-keeper.md
