include ../templates
+girl-section({
  image: "https://i.imgur.com/TbG4JQx.png",
  color: '#695EA2',
  title: {
    name: "Blue Haired Shopkeeper",
    quote: '"You need to be careful with that customer!"'
  },
  strengths: ["Knows how to handle Hifumi"],
  weaknesses: ["Cannot handle Hifumi"]
})
