include ../templates
+girl-section({
  image: '../assets/girls/hajime.png',
  color: '#F8BC74',
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/5/52/Th-c5.png/revision/latest?cb=20180121131726",
    name: "Hajime",
    quote: '"Hajime quote here"'
  },
  department: {
    type: "motion",
    title: "Motion Designer"
  },
  strengths: [
    "Has cool toys"
  ],
  weaknesses: [
    "Doesn't have tickets for the Moon Ranger show"
  ]
})
  .subtitle Yun's girlfriend
