include ../templates
+girl-section({
  image: '../assets/girls/hajime.png',
  color: '#F8BC74',
  title: {
    image: "../assets/icons/hajime_icon.png",
    name: "Hajime",
    quote: '"You\'re such a coward, Yun!"'
  },
  strengths: [
    "Has cool toys"
  ],
  weaknesses: [
    "Doesn't have tickets for the Moon Ranger show"
  ]
})
  .subtitle Yun's girlfriend
