include ../templates
+girl-section({
  image: '../assets/girls/hifumin.png',
  color: '#ffb8df',
  title: {
    image: "https://raw.githubusercontent.com/Xetera/Hifumi/master/assets/hifumi_avatar.png",
    name: "Hifumi",
    quote: '"I\'m not very good at speaking..."'
  },
  strengths: [
    "Literally everything"
  ],
  weaknesses: [
    "Sometimes shy"
  ]
})
