include ../templates
+girl-section({
  image: '../assets/girls/hifumin.png',
  color: '#ffb8df',
  title: {
    image: "../assets/icons/hifumi_icon.png",
    name: "Hifumi",
    quote: '"Sojiro-kun, do you like it when I smile?"'
  },
  strengths: [
    "Literally everything"
  ],
  weaknesses: [
    "Sometimes shy"
  ]
})
  .subtitle Professionally cute
