include ../templates
+girl-section({
  image: "../assets/girls/hotaru.png",
  color: '#b963ff',
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/0/0e/Th-c6.png/revision/latest?cb=20180121131826",
    name: "Hotaru",
    quote: ''
  },
  strengths: [],
  weaknesses: []
})
  .subtitle Pretty damn good artist
