include ../templates
+girl-section({
  image: "../assets/girls/hotaru.png",
  color: '#b963ff',
  title: {
    image: "../assets/icons/hotaru_icon.png",
    name: "Hotaru",
    quote: ''
  },
  strengths: [],
  weaknesses: []
})
  .subtitle Pretty damn good artist
