include ../templates
link(rel="stylesheet" href="../scss/ko.scss")
+girl-section-l({ 'background-color': '#88aaff' }, "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/36546e53-f806-4edc-be25-3e2acb09d64a/davtrzy-805a1cad-744a-4c80-a5c4-45cd5ea191ea.png/v1/fill/w_812,h_984,strp/ko___new_game_by_boopjupy_davtrzy-pre.png")
  h1.title.is-size-1.has-text-white Ko
  h1.subtitle.has-text-white Young Lesbian
