include ../templates
+girl-section({
  image: "../assets/girls/kou.png",
  color: '#a5b7ff',
  title: {
    image: "../assets/icons/ko_icon.png",
    name: "Ko",
    quote: '"Ko@IWannaLeaveOnTime"'
  },
  strengths: [
    "Really good at art thing",
    "Sleeps in panties"
  ],
  weaknesses: [
    "Very dense"
  ]
})
  .subtitle Heavy Sleeper, Rin's Girlfriend
