include ../templates
link(rel="stylesheet" href="../scss/ko.scss")
+girl-section-l({ 'background-color': '#88aaff' }, "../assets/girls/kou.png")
  h1.title.is-size-1.has-text-white Ko
  h1.subtitle.has-text-white Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vulputate ex ut malesuada blandit. Morbi lobortis nec turpis vel egestas. Integer sit amet turpis fermentum, hendrerit tortor eu, mollis libero. Fusce iaculis semper rhoncus. Sed non ligula ipsum. Curabitur fermentum nunc ac diam volutpat, eget molestie felis mollis. Praesent in porttitor lorem, ac aliquet lectus.

  h1.subtitle Integer commodo rutrum erat, ut rhoncus sem hendrerit pharetra. Fusce venenatis vel arcu non ultrices. Praesent nunc turpis, tincidunt nec quam sit amet, pellentesque tempor nunc. Vivamus venenatis condimentum arcu, eu fringilla lectus vestibulum vel. Ut sagittis congue dolor et vestibulum. Donec in leo ante. Fusce facilisis iaculis malesuada. Nunc faucibus, erat non hendrerit ultricies, neque lorem interdum tellus, sit amet facilisis neque ipsum non neque. Maecenas rhoncus mollis nibh, vitae accumsan ante. Vestibulum tincidunt lorem sed nulla mattis lacinia. Pellentesque in mattis mi. Nunc et dui bibendum, molestie leo sit amet, finibus orci. Aliquam pulvinar, erat eu rutrum dignissim, elit diam tempor libero, vitae egestas massa tortor id enim.
