include ../templates
+girl-section({
  image: "../assets/girls/kou.png",
  color: '#a5b7ff',
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/c/ca/Th-c2.png/revision/latest?cb=20180121130708",
    name: "Ko",
    quote: '"Ko quote here"'
  },
  strengths: [],
  weaknesses: []
})
