include ../templates
+girl-section({
  image: "../assets/girls/momo.png",
  color: '#EE7850',
  title: {
    image: "../assets/icons/momo_icon.png",
    name: "Momo",
    quote: ''
  },
  strengths: [],
  weaknesses: []
})
  .subtitle Roommates with Naru
