include ../templates
+girl-section({
  image: "../assets/girls/naru.png",
  color: '#799CD2',
  title: {
    image: "../assets/icons/naru_icon.png",
    name: "Naru",
    quote: ''
  },
  strengths: [],
  weaknesses: []
})
  .subtitle Roommates with Momo
