+girl-section({
  image: "../assets/girls/nene.png",
  color: '#dd95c6',
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/c/ce/Th-c7.png/revision/latest?cb=20180121131923",
    name: "Nenecchi",
    quote: '"Nene quote here"'
  },
  department: {
    type: "programming",
    title: "Bug Tester"
  },
  strengths: [],
  weaknesses: []
})
