+girl-section({
  image: "../assets/girls/nene.png",
  color: '#dd95c6',
  title: {
    image: "../assets/icons/nene_icon.png",
    name: "Nenecchi",
    quote: '"Nene quote here"'
  },
  strengths: [],
  weaknesses: []
})
