+girl-section({
  image: "../assets/girls/nene.png",
  color: '#dd95c6',
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/c/ce/Th-c7.png/revision/latest?cb=20180121131923",
    name: "God",
    quote: '"This wouldve been funnier if like I did it unexpectedly wouldnt it"'
  },
  strengths: [],
  weaknesses: []
})
