+girl-section({
  image: "http://scp-wiki.wdfiles.com/local--files/scp-2337/corncrake.jpg",
  color: '#dd95c6',
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/c/ce/Th-c7.png/revision/latest?cb=20180121131923",
    name: "SCP-2337",
    quote: '"CACK! I MUST CODE TO GET A JOB! CACK!"'
  },
  strengths: [
  "Shark godess"
  ],
  weaknesses: [
  "[DATA EXPUNGED]"
  ]
})
