+girl-section({
  image: "../assets/girls/rin.png",
  color: '#d397ff',
  title: {
    image: "../assets/icons/rin_icon.png",
    name: "Rin",
    quote: '"I told you to do it this morning!"'
  },
  strengths: [],
  weaknesses: []
})
  .subtitle Ko's Girlfriend
