+girl-section({
  image: "../assets/girls/rin.png",
  color: '#d397ff',
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/1/1b/Th-c3.png/revision/latest?cb=20180121131252",
    name: "Rin",
    quote: '"Rin quote here"'
  },
  strengths: [],
  weaknesses: []
})
