include ../templates
+girl-section({
  image: "../assets/girls/shizuku.png",
  color: '#ffba0f',
  title: {
    image: "../assets/icons/shizuku_icon.png",
    name: "Shizuku",
    quote: ''
  },
  strengths: [],
  weaknesses: []
})
  .subtitle Director
