include ../templates
+girl-section({
  image: "../assets/girls/umiko.png",
  color: '#992121',
  title: {
    image: "../assets/icons/umiko_icon.png",
    name: "Umiko",
    quote: '*gun firing*'
  },
  strengths: [],
  weaknesses: []
})
  .subtitle Airsoft Player
