include ../templates
+girl-section({
  image: "../assets/girls/yun.png",
  color: '#9c606b',
  title: {
    image: "../assets/icons/yun_icon.png",
    name: "Yun",
    quote: '"Wanna relax with some snacks?"'
  },
  strengths: [],
  weaknesses: []
})
  .subtitle Hajime's girlfriend
