include ../templates
+girl-section({
  image: "../assets/girls/yun.png",
  color: '#9c606b',
  title: {
    image: "https://vignette.wikia.nocookie.net/new-game/images/0/0e/Th-c6.png/revision/latest?cb=20180121131826",
    name: "Yun",
    quote: '"Yun quote here"'
  },
  department: {
    type: "art",
    title: "Char. Designer"
  },
  strengths: [],
  weaknesses: []
})
  .subtitle Hajime's girlfriend
