include ../templates
+girl-section-r({ 'background-color': '#9c606b' }, "https://66.media.tumblr.com/6add358e753ca623d12bfd4288776530/tumblr_ot74f4pNJy1tdj66po1_500.png")
  h1.title.text-r.is-size-1 Yun
  h1.subtitle.text-r Can't hold cups
