.decorator {
    height: 100%;
    text-align: right;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 0.5rem;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    line-height: inherit;
    margin-bottom: 2%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mod-command {
    background-color: #baffc9
}

.admin-command {
    background-color: #ffb3ba;
}

.everyone-command {
    background-color: #ffffba;
}

