
img.row-image {
    max-width: 30%;
    height: auto;
}

img.small-row-image {
    max-width: 40%;
    height: auto;
    margin: auto;
}

@media screen and (max-width: 992px) {
    #titles {
        margin-top: -4vw;
    }
}

h1.header-title {
    font-size: 4vw;
}

h1.header-title-x-small {
    font-size: 24px;
}

h1.header-title-small {
    font-size: 2.1vw;
}

div.banner {
    margin-top: 1rem;
}

.header-text-holder {
    color: white;
    position: absolute;
    top: 8vw;
    left: 20%;
}
