
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-12">
            <img class="row-image" style="margin-left: 55%"
                 src="https://cdn.hifumi.io/website/assets/hifumi_pc.png" alt="">
        </div>
    </div>
    <div class="header-text-holder">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="header-title-x-small" style="margin-left: 20%">
                    <b>Watching <span style="color: #ffd399">{{users}}</span> users in <span style="color: #ffa3a8">{{guilds}}</span> servers.</b>
                </h1>
                <br><br>
                <h1 class="header-title-small"><b>A server management and moderation bot</b></h1>

                <h1 class="header-title" style="margin-left: -10px"><b>Hifumi</b></h1>

            </div>
        </div>
    </div>
</div>
