{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="container">
                <div class="row " style="">
                    <a target="_blank"
                       href="https://discordapp.com/oauth2/authorize?client_id=372615866652557312&scope=bot&permissions=268463300">
                        <img class="img-fluid rounded border border-dark" style="border-radius: 10rem;"
                             src="{{ url_for('static', filename='hifumi_banner.jpg') }}">
                    </a>
                </div>
                <br>
                <div class="row">
                    <div class="text-align" style="margin: 0 auto">
                        <h2 class="p-2">
                            Hifumi is a bot that will get all your moderators on the same page
                            <br>

                        </h2>
                    </div>
                </div>
                <div class="row text-center">
                    <h1 align="center" class="col-12 text-center textbox-header" style="padding-left: 0;">
                        Moderation
                    </h1>
                </div>
                <div class="row mt-3" style="padding-left: 0; padding-right: 0">
                    <div class="col-md-4 " style="padding-left: 0">
                        <img class="img-fluid rounded border border-dark mx-auto mr-2"
                             style=""
                             src="https://animananimedotcom.files.wordpress.com/2016/11/mpv-shot0002.jpg?w=636" alt="">
                    </div>
                    <div class="col-12 col-md-8 border border-dark info rounded d-flex flex-column textbox">
                        <p>
                            <b>Hifumi remembers things about your members for you!</b>
                        </p><br>
                        <p>
                            Ideally you want to know who everyone is in your server at all times but
                            keeping track of all your members becomes harder and harder as your server grows.
                        </p><br>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="container no-padding">
                            <div class="row border border-dark info rounded d-flex flex-column textbox">
                                <p>
                                    <b>Note</b> things about users for a later time.
                                </p>

                            </div>
                            <div class="row border border-dark info rounded d-flex flex-column textbox mt-3">
                                <p>
                                    <b>Warn</b> or
                                    <b>strike</b>
                                    users <i>anonymously</i> without exposing your mods.
                                </p><br>
                                <p>
                                    Once a user is past 3 (or a number of your choice) strikes, they're out.
                                </p><br>
                                <p>
                                    Warnings and strikes (infractions) expire automatically after 2 weeks.
                                </p>
                            </div>
                            <div class="row border border-dark info rounded d-flex flex-column textbox mt-3">
                                <p>
                                    Someone breaking the rules? Check their <strong>history</strong> to see if another
                                    other moderator acted or had anything to say previously.
                                </p>
                                <br>
                                <p>
                                    No point warning someone for the 10th time.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 0">
                        <div class="container">
                            <div class="row">
                                <img src="{{ url_for('static', filename='commands/note.png') }}"
                                     class="img-fluid rounded border border-dark">
                            </div>
                            <div class="row mt-3">
                                <img class="img-fluid rounded border border-dark"
                                     src="{{ url_for('static', filename='commands/strike.png') }}" alt="">
                            </div>
                            <div class="h-50 mt-3">
                                <img class="col-xs-12 img-fluid rounded border border-dark"
                                     src="{{ url_for('static', filename='commands/history.png') }}" alt="">
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
        <br>

        <div class="row mx-a textbox rounded border border-dark" style="margin: 0; padding: 10px"><h1>
            This site is still under heavy construction, the API will be the main focus until Hifumi goes public.
        </h1>
        </div>
    </div>
    <br>

{% endblock %}