{% extends "base.html" %}
{% block content %}
    <div class="container mx-auto">
        <div class="row " style="">
            <div class="col">
                <a href="https://discordapp.com/oauth2/authorize?client_id=372615866652557312&scope=bot&permissions=268463300">
                    <img class="img-fluid rounded border border-dark" style="border-radius: 10rem;"
                         src="{{ url_for('static', filename='hifumi_banner.jpg') }}">
                </a>
            </div>
        </div>
        <br>
        <div class="row mx-auto">
            <div class="col-md-3" style="border-radius: 10rem; padding-left: 0">
                <img class="img-fluid rounded border border-dark float-left mx-auto" style=""
                     src="https://pm1.narvii.com/6244/c1b62572380b087758935a264e49a49ee4fcced8_hq.jpg">
            </div>
            <div class="col-md-9 border border-dark rounded textbox d-flex flex-column" style="padding: 0; display: flex;">
                <h1 align="center" class="p-2 textbox-header rounded" style="padding-left: 0;">Personalized management
                    tools</h1>
                <br>
                <p class="p-2" style="">
                    Who joined your server?
                </p>
            </div>
        </div>
        <br>

        <div class="row mx-auto">
            <div class="col-md-7 border border-dark rounded textbox d-flex flex-column" style="padding-left: 0; padding-right: 0">
                <h1 align="center" class="p-2 textbox-header rounded" style="padding-left: 0;">
                    Powerful Moderation
                </h1>
                <br>
                <p class="p-2" style="">
                    <strong>Hifumi can remember anything you want about anyone!</strong>
                    <br>
                    Keeping track of all your members becomes harder and harder as your server grows. It's time to get
                    all your staff members on the same page. Pull up people's rule breaks, joins
                </p>
            </div>
            <div class="col-md-5" style="padding-right: 0">
                <img class="img-fluid rounded border border-dark float-right mx-auto"
                     src="https://animananimedotcom.files.wordpress.com/2016/11/mpv-shot0002.jpg?w=636" alt="">
            </div>
        </div>
        <br>

        <div class="row mx-a textbox" style="margin: 0"><h2>
            This site is still under heavy construction, the API will be the main focus until Hifumi goes public.
        </h2>
        </div>
    </div>
    <br>

{% endblock %}