@import "../../layouts/style";
.girl-title {
  color: #0e1e25;
}

.girl-role {
  margin-bottom: 10px;
}

.girl-card-header-title {
  padding: 10px;
}

.girl-list {
  line-height: 1.2;
  list-style-type: square !important;
}

.girl-japanese {
  font-weight: 600;
}

.girl-content-color {
  color: rgba(14,30,37,.8);
}

.character-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100%;
  filter: drop-shadow(0px 1px 1px gray) brightness(95%);
  h1 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    margin-bottom: 0;
  }
}

.girl-wrapper {
  border-bottom: 1px #131313;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.girl-collapsed {
  @extend .section;
  @extend .narrow-width;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20vh;
}

.girl-collapsed-wrapper:hover {
  filter: brightness(95%);
}

.girl-collapsed-name {
  color: #212121;
  margin-bottom: 0 !important;
  text-shadow: 0 2px 3px rgba(10, 10, 10, 0.3);
}

.girl-collapsed-titles {
  margin-left: 10px;
}

.girl-collapsed-description {
  font-weight: lighter;
  color: #22222e;
}
