.girl-title {
  color: #0e1e25;
}

.girl-role {
  margin-bottom: 10px;
}

.girl-card-header-title {
  padding: 10px;
}

.girl-list {
  line-height: 1.2;
  list-style-type: square !important;
}

.girl-japanese {
  font-weight: 600;
}

.girl-content-color {
  color: rgba(14,30,37,.8);
}

.character-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100%;
  filter: drop-shadow(0px 1px 1px gray) brightness(95%);
  h1 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    margin-bottom: 0;
  }
}
