{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row border border-primary" style=";">
            <p style="font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif; margin: 0 auto">Commands</p>
        </div>
        <br>
        <div class="row panel panel-default">
            <div id="command-view" class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <div class="col-4"></div>
            </div>
        </div>
    </div>
{% endblock %}