link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
link(href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet")

link(rel="stylesheet" href="../scss/style.scss")
link(rel="stylesheet" href="../scss/girls.scss")

meta(name="viewport", content="width=device-width initial-scale=1")
link(rel="icon" href="https://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/hifumi-takimoto-new-game-ova-8.26.jpg")
meta(property="og:type" content="website")
meta(property="og:title" content="New Game!")
meta(property="og:description" content="Game development can't be this cute!")
meta(name="theme-color" content="#b5b5ee")
meta(name="description" content="New Game! fan site made by the /r/NewGame community.")
title New Game!

// google analytics (don't touch this)
script(async src='https://www.googletagmanager.com/gtag/js?id=UA-133545986-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-133545986-1');

