link(rel="stylesheet" href="../scss/style.scss")
link(rel="icon" href="https://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/hifumi-takimoto-new-game-ova-8.26.jpg")
meta(property="og:type" content="website")
meta(property="og:title" content="Hifumi Senpai")
meta(property="og:description" content="The one true best girl.")
meta(property="og:image" content="https://pbs.twimg.com/profile_images/894584920554733569/QtVvxSIP_400x400.jpg")
meta(name="theme-color" content="#ffa998")
