link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous")
link(rel="stylesheet" href="../scss/style.scss")
meta(name="viewport", content="width=device-width initial-scale=1")
link(rel="icon" href="https://statici.behindthevoiceactors.com/behindthevoiceactors/_img/chars/hifumi-takimoto-new-game-ova-8.26.jpg")
meta(property="og:type" content="website")
meta(property="og:title" content="Hifumi Senpai")
meta(property="og:description" content="The one true best girl.")
meta(property="og:image" content="https://pbs.twimg.com/profile_images/894584920554733569/QtVvxSIP_400x400.jpg")
meta(name="theme-color" content="#ffa998")
title Hifumi
