head
  include head
body
  include landing-panel

  include characters/aoba
  include characters/hifumi
  include characters/ko
  include characters/yun
  include characters/hajime
  include characters/nene
  include characters/rin
  include characters/umiko
  include characters/momo
  include characters/hotaru
  include characters/shizuku
  include characters/blue-haired-shop-keeper

  include footer
