include templates

head
  include head
body
  include landing-panel

  include intro

  //+section-header("Best Girls")
  include characters/aoba
  include characters/hifumi
  include characters/ko
  include characters/yun
  include characters/hajime
  include characters/nene
  include characters/rin
  //+section-header("Side Girls")
  include characters/blue-haired-shop-keeper

  include footer
