head
  include head
body
  include landing-panel

  include characters/aoba
  include characters/hifumi
  include characters/ko
  include characters/yun
  include characters/nene
  include characters/rin
  include characters/blue-haired-shop-keeper

  include footer
