include templates
.intro.root-item
  .twitter-wrapper
    .twitter-slides#twitter-slides
      +tweet({
        avatar: "https://pbs.twimg.com/profile_images/894584920554733569/QtVvxSIP_400x400.jpg",
        verified: true,
        name: "Hifumi",
        tag: "@HTakimoto",
        content: "Just realized my new coworker looks so much like Sojiro when she's eating ≧◡≦",
        image: "https://i.imgur.com/aFvLMGy.jpg",
        hashtags: ["kawaii", "hedgehog"],
        time: "9:02 AM - 1 Feb 2015",
        likes: "24k",
        retweets: "859"
      })
      +tweet({
        avatar: "../assets/twitter/hajime-twitter.jpg",
        verified: true,
        name: "Hajime",
        tag: "@HShinoda",
        content: "I can't believe I got tickets to go to Moon Rangers! Thanks @Yun",
        image: "http://www.anime-evo.net/wp-content/uploads/2017/08/HorribleSubs-New-Game-04-720p.mkv_snapshot_06.48_2017.08.06_02.22.51-700x385.jpg",
        hashtags: ["bestcoworker", "moonranger"],
        time: "12:54 AM - 4 May 2015",
        likes: "92k",
        retweets: "12k"
      })
      +tweet({
        avatar: "https://i.pinimg.com/236x/5c/ca/4d/5cca4da63a21e76b6b7f22a149f18a8d.jpg",
        verified: true,
        name: "Aoba",
        tag: "@ASuzukaze",
          content: "I just locked myself in the company hallway for the second time today... I hope they don't fire me on my first day.",
          hashtags: ["10iq", "sendhelp", "baka"],
          time: "12:54 AM - 1 Jan 2015",
          likes: "21k",
          retweets: "39k"
        })
//div(style="width: 600px")
//  .card.tweet
//    //.card-image
//    //  figure.is-4by3
//    .card-content
//      .media
//        .media-left
//          figure.image.is-48x48
//            img(src=)
//        .media-content
//          p.title.is-4.is-flex Hifumi
//            span.icon.is-32x32.is-vcentered
//              img(src="https://cdn.iconverticons.com/files/png/2ebd86c6b88dd219_256x256.png" style="margin-left: 10px;")
//          p.subtitle.is-6 @Takimoto
//
//        //span.icon.is-medium
//        //  span.fa.fa-stack.fa-lg.is-small
//        //    i.fa.fa-certificate.fa-stack-2x
//        //    i.fa.fa-check.fa-stack-1x.fa-inverse
//      .content
//        |
//        img.tweet-image(src= style="width: 500px")
//        br
//        a(href="#") #eagle_jump #[a(href="#") #kawaii]
//        br
//        time(datetime="2015-2-1")
