.intro
  .overlay
  .banner-container
    columns.is-centered
      .column.banner-text-container
        .is-size-1-desktop.is-size-1-tablet.is-size-2-mobile.has-text-white-ter.banner-text.has-text-centered New Game!
        .columns
          .column.is-half
            a.button.is-info.is-fullwidth.is-large
              span.icon.is-large
                i.fab.fa-discord
              span.is-size-5-desktop.is-size-6-tablet Discord Server
            span.is-size-7.has-text-white #[b#discord-users Lotsa] Members
          .column.is-half
            a.button.is-info.is-fullwidth.is-large
              span.icon.is-large
                i.fab.fa-reddit
              span.is-size-5-desktop.is-size-6-tablet /r/NewGame
            span.is-size-7.has-text-white #[b#reddit-users Many] Subs
  script(src="../js/banner.js")
