mixin girl-section(style, imageUrl)
  div.girl-section(style=style)
    .columns.narrow-width
      .column.is-one-quarter.girl-image-column(style="align-self: center")
        img.image.girl(src=imageUrl)
      .column.is-three-quarters.girl-content
        .section
            block
