<div class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-brand slant">
            <strong>
                <img src="assets/hifumi_avatar.png" alt="" class="img-fluid brand">
                Hifumi「ひふみん」
            </strong>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>


        <ul class="navbar navbar-nav navbar-collapse collapse" style="
    padding-left: 4%;
">
            <li class="nav-item">
                <a id="home-link" class="menu-link  btn btn-pink navbar-btn hvr-grow" href="">
                    <img class="menu-icon" src="assets/navbar/house_icon.png" alt="">
                    <b>Home</b> <span
                    class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a id="commands-link" class="menu-link btn hvr-grow" [routerLink]="['/commands']">
                    <img class="menu-icon"
                         src="assets/navbar/commands.png"
                         alt=""><b>Commands</b>
                </a>
            </li>
            <li class="nav-item pr-3"matTooltip="Check back later for an API!">

                <a id="api-link" class="disabled btn menu-link " href="" style="font-size: 20px;"
                >
                    <img class="menu-icon disabled"
                         src="assets/navbar/satellite.png"
                         alt="">
                    <b>API</b></a>
            </li>
            <li class="nav-item pr-3">
                <a target="_blank" id="bot-invite-link " class="menu-link btn hvr-grow"
                   href="https://discordapp.com/oauth2/authorize?client_id=372615866652557312&scope=bot&permissions=268463300">
                    <img src="assets/navbar/discord_logo.png"
                         alt="" class="menu-icon">
                    <b>Invite Me</b></a>
            </li>
            <li class="nav-item pr-3">
                <a target="_blank" id="server-invite-link" class="menu-link btn hvr-grow"
                   href="https://discord.gg/RM6KUrf">
                    <img src="assets/navbar/support_server.png">
                    <b>Support Server</b></a>
            </li>
            <li class="nav-item pr-3">
                <a target="_blank" id="github-link" class="menu-link btn hvr-grow"
                   href="https://github.com/Xetera/Hifumi">
                    <img src="assets/navbar/github.png"
                         alt="" class="menu-icon">
                    <b>Github</b></a>
            </li>
        </ul>

    </nav>
    <app-home-header *ngIf="router.url === '/home'"></app-home-header>
    <app-commands-header *ngIf="router.url === '/commands'"></app-commands-header>
</div>

<router-outlet></router-outlet>
