
.text-box {
    border: 5px solid transparent;
    background-image: linear-gradient(to right, rgb(119, 48, 121), rgb(153, 41, 231)), linear-gradient(to bottom, rgb(92, 61, 191), rgb(24, 35, 191)), linear-gradient(to left, rgb(204, 233, 187), rgb(187, 210, 224)), linear-gradient(to top, rgb(84, 144, 184), rgb(80, 138, 176));
    background-origin: border-box;
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    background-position: top left, top right, bottom right, bottom left;
    background-repeat: no-repeat;
    padding: 1%;
    border-radius: 4px;
}
.padding-top-small {
    padding-top: 2%;
}

.text-hidden > h2 {
    color: #6c6f6b;
}

.text-hidden > p {
    color: #6c6f6b;
}
