@import "_vars.scss";
@font-face {
  font-family: 'Whitney';
  src: url("../../../static/fonts/whitney.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

body, html {
  // Discord color
  background-color: $dashboard-background !important;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Whitney' !important;
  color: $dashboard-text !important;
}
