.two-columns {
  display: flex;
  width: 100vw;
  .left-side {
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    width: 240px !important;
    min-width: 240px !important;
  }
  .right-side {
    width: 100%;
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.main-content {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  .columns {
    width: 100%;
  }
}

.images-page {
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

