.guild-image {
  max-width: 200px;
  width: auto;
  object-fit: cover;
  max-height: 250px;
  height: auto;
}

.guild-image-wrapper {
  justify-content: center;
  height: 250px;
  display: flex !important;
}

.image-wrapper {
  position: relative;
  align-items: flex-end;
  z-index: 399999;
  &:hover {
    cursor: pointer;
    .black-panel {
      animation-duration: 240ms;
      display: block;
    }
  }
}

.tag-label {
  font-size: 11px;
}

.tag-label-count {

}

.black-panel {
  display: none;
  bottom: 0;
  width: 100%;
  padding: 5px;
  z-index: 2;
  background-color: rgba(41,41,41, .9);
  position: absolute;
  .tags {
    .tag {
      font-size: 11px;
      padding: 3px;
    }
    padding: 0px !important;;
  }
}

.guild-image-card {
  align-items: center;
  justify-content: center;
  display: block;
  max-height: 400px;
  background-color: #212121
}

.sidebar {
  width: 240px;
}


.image-content {
  background-color: #303030 !important;
  padding: 5px !important;
}

.guild-images {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tags {
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: row;
}

.file-name {
  text-overflow: ellipsis;
}

.dashboard-title-area {
  width: 100%;
  display: flex;
  align-items: center;

  .dashboard-title {
    margin: .7em 0 !important;
  }
}
.image-poster-left {
  overflow: hidden;
  width: 80%;
}
.image-poster-text-wrapper {
  width: 100%;
  display: inline-flex;
  .image-poster-name {
    text-overflow: ellipsis;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
    font-size: 12px;
  }
}
.image-poster {
  padding: 5px;
  width: 100%;
  display: flex;
  margin-bottom: 0px !important;
}

.modal-image {
  max-height: 600px;
  max-width: 400px;
}

.image-link {
  color: grey;

  &:hover {
    text-decoration: underline;
  }
}

// OVERRIDES
.modal-content {
  // Bulma sets a weird 640px min width
  width: inherit !important;
}

.modal-background {
  background-color: black !important;
  opacity: 0.85 !important;
}

