@import "vars";

.dashboard-navbar {
  background-color: $dashboard-background;
  margin-bottom: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px, rgba(0, 0, 0, 0.06) 0px 2px 0px 0px;
  padding: 10px 25px;
  height: 48px;
  display: flex;
  align-items: center;
  position: relative;
}

.channel-name {
  color: white;
  font-weight: 600;
  &:before {
    margin-right: 3px;
    content: "#";
  }
  .separator {
    width: 2px !important;
    height: 100%;
    background-color: #a9aaad;
    margin: 10px;
  }
}



.navbar-image {
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
}

.navbar-items {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
