@import "vars";

.dashboard-navbar {
  background-color: $dashboard-alternative;
  padding: 10px 25px;
  height: 90px;
  display: flex;
  align-items: center;
}

.navbar-items {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
