@import "_vars.scss";

.taglist {
  background-color: $dashboard-secondary;
  .tag-list-count {
    margin-right: 6px;
  }
  .tag-list-item {
    .tag-list-item-name {
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover {
      cursor: pointer;
    }
    display: flex;
    align-items: center;
  }
  .card-content {
    * {
      color: white;
    }
  }
}
