<div class="row d-flex padding-top-small">
    <div class="marginalize text-box d-flex flex-column text-center" >
        <div (mouseenter)="onHover(i)" *ngFor="let info of infos; let i = index" [attr.data-index]="i"
        [class]="isActive(i)">
            <h2>{{info.title}}</h2>
            <hr>
            <p>{{info.description}}</p>
            <br>
        </div>
    </div>
    <div class="marginalize">
        <img class="rounded display-image mr-auto mx-auto" [src]="image" alt="">
    </div>
</div>
