.footer-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.with-love {
}

.crunchyroll {
  color: #F47521;
}

.outro-container {
  flex-direction: column;
}

.anilist {
  background-color: #1f2631;
  color: white;
  border: 0;
}

.footer {

}
