/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
:root {
    --textbox-header: #844f72;
    --textbox-body: #D1D3C4;
    --body-color: #ffffff;
}
html {
    padding-bottom: 5%;
}
@font-face {
    font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 766px) {
    h1, li {
        font-size: 12px !important;
    }

    p {
        font-size: 11px !important;
    }

    .menu-link, .navbar-brand {
        font-size: 13px !important;
    }

}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 16px;
    }
}

body {
    background-color: var(--body-color);
}
h1 {
    font-family: "Open Sans", sans-serif;
}

.navbar {
    padding: .2rem 1rem;

}

.slide:hover #slide {
    transition: 1s;
    left: 0;
}

a.menu-link {
    font-size: 20px;
    color: #fff;
}

.info h1 {
    font-family: "Baron Neue", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.info p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 2rem;
}

#command-view > div::before {
    content: "placeholder"
}

.brand {
    max-height: 36px;
    max-width: 36px;
    width: auto;
    height: auto;
    bottom: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin-right: 8px;
    transform: translateY(-5%);
}

.menu-icon {
    max-height: 36px;
    max-width: 36px;
    width: auto;
    height: auto;
    bottom: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin-right: 8px;
    transform: translateY(-10%);
}

p, li {
    color: #000000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

h1.textbox-header {
    font-family: 'Fira Sans Heavy', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    color: #7f5ea9;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}


.navbar-brand {
    font-family: 'Open Sans', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    color: #fff;
    font-size: 1.35rem;
}

.image {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}




p {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}

.header {
    background: linear-gradient(172deg, #844f72, #1f3498);
}

img.disabled {
    filter: grayscale(100%);
}
*.disabled {
    color: gray;
}
