@import "variables";
@import "~bulma/sass/utilities/initial-variables";
.girl-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  border-bottom: solid 2px #eee;

  /*
    Alternating the position of
    the girls and text

    These styles are only available
    when the display is flex which
    means everything is consistent
    in mobile mode
   */
  &:nth-child(even) > .columns {
    flex-direction: row;

    /*
      Alternating the position of
      the strengths/weaknesses
      and character info
     */
    .girl-content .columns {
      flex-direction: row;
    }
  }

  &:nth-child(odd) > .columns {
    flex-direction: row-reverse;

    .girl-content .columns {
      flex-direction: row-reverse;
    }
  }


  .girl-image-column {
    position: relative;
    min-height: $girl-section-cutoff;
    display: flex;
    justify-content: flex-end;

    img {
      position: absolute;
      width: auto;
      height: auto;
      // sticky on the bottom
      bottom: 0;
    }
  }

  @media(min-width: $tablet) and (max-width: $merge-breakpoint) {
    .girl-content {
      margin-bottom: 10vh !important;
    }
  }

  @media(max-width: $merge-breakpoint) {
    .section {
      padding: 0;
    }
    .columns {
      justify-content: center;
    }
    .girl-image-column {
      display: block;
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: center;
      text-align: center;
      padding: 0 10px;
      width: auto;
      max-width: 600px;
      height: 100%;

      img {
        margin: 0 auto;
      }
    }
    .girl-content {
      position: relative;
      min-height: $girl-section-cutoff;
      margin-bottom: 20vh;
    }
  }

  .columns {
    margin: 0 auto;
  }
}

