@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '_variables.scss';
@import '../../node_modules/bulma/bulma.sass';

* {
  font-family: Roboto, sans-serif;
}

body {
  background-color: $website-background;
}

.intro {
  background-image: url('../assets/hifumitransparent.png');
  background-size: cover;
  background-position: 12% 88%;
}

.overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.text {
  color: whitesmoke;
}

.text-r {
  color: whitesmoke;
  text-align: right;
}

.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-image: linear-gradient(to top, $website-background, #c0c1ee);
  //background-color: $website-background;
  height: 100vh;
  width: 100%;
  text-justify: distribute;

  .banner-text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.banner-sections {
  height: 100%;
}

.banner-text {
  display: inline-block;
  margin: 0 0;
  font-weight: 600;
  padding-bottom: 0;
}

.girl-section-wrapper {
  width: 85%;
  align-items: center;
}

.girl-section {
  align-items: center;
  min-height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0 !important;
}

@media(max-width: 767px) {
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.girl-content {
  width: 75%;
}

.girl {
  display: flex;
  position: absolute;
  bottom: 0;
  align-self: center;
  max-height: 50vh;
}
