@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '_variables.scss';

@import '../../node_modules/bulma/bulma.sass';

* {
  font-family: Roboto, sans-serif;
}

body {
  background-color: $website-background;
}

.website-background {
  background-color: $website-background;
}

.intro {
  position: relative;
  background-image: url('../assets/hifumitransparent.png');
  background-size: cover;
  background-position: 12% 88%;
}

.github {
  position: absolute;
  bottom: 0;
  right: 0;
}

.overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%);
  min-width: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-justify: distribute;

  .banner-text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.banner-sections {
  height: 100%;
}

.banner-text {
  display: inline-block;
  margin: 0 0;
  font-weight: 600;
  padding-bottom: 0;
}

.narrow-width {
  @media(max-width: $merge-breakpoint) {
    width: 100%;
  }
  width: 85%;
}

.footer {
  padding: 10px !important;
}
