@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
@import '_variables.scss';
@import '../../node_modules/bulma/bulma.sass';

* {
  font-family: Roboto, sans-serif;
}

body {
  background-color: $website-background;
}

.banner-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images3.alphacoders.com/938/thumb-1920-938367.png);
  height: 100%;
  background-size: cover;
  text-justify: distribute;
  .banner-text-container {
    text-align: left;
  }
}
.banner-text {
  display: inline-block;
  margin: 0 0;
  font-weight: 600;
  padding-bottom: 0;
}

