:root {
    --textbox-header: #6b3a4e;
    --textbox-body: #D1D3C4;
    --body-color: #BDC696;
}

@media (min-width: 1500px) {
    .container-fluid {
        width: 1440px;
    }
}

@font-face {
    font-family: Baron Neue;
    src: url("Baron_Neue.otf") format("opentype");
}

@media screen and (max-width: 766px) {
    h1, li {
        font-size: 12px !important;
    }

    p {
        font-size: 11px !important;
    }

    .menu-link, .navbar-brand {
        font-size: 13px !important;
    }

}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 16px;
    }
}

body {
    background-color: var(--body-color);
}

nav {
    background-color: #775253;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar {
    padding: .2rem 1rem;

}

.slide:hover #slide {
    transition: 1s;
    left: 0;
}

a.menu-link {
    font-family: "Baron Neue", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 16px;
    color: #fff;
}

a.menu-link:hover {
    box-shadow: 1px 1px var(--body-color),
    2px 2px var(--body-color),
    3px 3px var(--body-color),
    1px 1px var(--body-color);
    outline: 1px 1px var(--body-color);
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

.info h1 {
    font-family: "Baron Neue", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.info p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 2rem;
}

#command-view > div::before {
    content: "placeholder"
}

.brand {
    max-height: 36px;
    max-width: 36px;
    width: auto;
    height: auto;
    bottom: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin-right: 8px;
    transform: translateY(-5%);
}

.menu-icon {
    max-height: 36px;
    max-width: 36px;
    width: auto;
    height: auto;
    bottom: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin-right: 8px;
    transform: translateY(-10%);
}

p, li {
    color: #000000;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

h1.textbox-header {
    font-family: 'Fira Sans Heavy', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    color: #7f5ea9;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.textbox {
    background-color: var(--textbox-body);
    padding: 15px;
}

.navbar-brand {
    font-family: 'Open Sans', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    color: #fff;
    font-size: 1.35rem;
}

.image {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}