:root {
    --textbox-header: #6b3a4e;
    --textbox-body: #ad455f;
}

@font-face {
    font-family: Baron Neue;
    src: url("Baron_Neue.otf") format("opentype");
}

nav {
    background:var(--textbox-header);
}

body {
    background: url("flower_pattern.png") repeat;
}

.slide:hover #slide {
    transition: 1s;
    left: 0;
}

a.menu-link {
    font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 20px;
    color: #ffffff;
}

.info h1 {
    font-family: 'Baron Neue' ,sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase
}

.info p {
    font-family: Noto,sans-serif;
    font-size: 1.3rem;
    line-height: 2rem;
}

#command-view > div::before {
    content: "hello"
}

.menu-icon {
    max-height: 24px;
    max-width: 24px;
    width: auto;
    height: auto;
    bottom: 0;
    position: relative;
    top: 50%;
    left: 0;
    right: 0;
    margin-right: 8px;
    transform: translateY(-10%);
}

div > p {
    margin-left: 5%; margin-right: 5%
}

p {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.textbox {
    background-color: var(--textbox-body);
}

.textbox-header {
    background-color: var(--textbox-header);
    border-radius: 10px;
    color: #ffffff;
}