$website-background: #fdfdfd;
$website-secondary-background: #cee1ee;
$header-background: #f4f4f4;
$merge-breakpoint: 1024px;
$shadow: 0 2px 3px rgba(0, 0, 0, .4);

$girl-section-cutoff: 60vh;
// stupid bulma, why do we have to override with !important...
$link-hover: unset;
$footer-background-color: $website-background !important;
$size-1: 6em;
