.home-row {
    margin-top: 25px;
}

.home-row-image {
    margin: 0 auto;
}

.text-box {
    border: 5px solid transparent;
    background-image: linear-gradient(to right, rgb(119, 48, 121), rgb(153, 41, 231)), linear-gradient(to bottom, rgb(92, 61, 191), rgb(24, 35, 191)), linear-gradient(to left, rgb(204, 233, 187), rgb(187, 210, 224)), linear-gradient(to top, rgb(84, 144, 184), rgb(80, 138, 176));
    background-origin: border-box;
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    background-position: top left, top right, bottom right, bottom left;
    background-repeat: no-repeat;
    padding: 1%;
    border-radius: 4px;
}

.large-text {
    font-size: 72px;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}
.padding-top-small {
    padding-top: 2%;
}

.padding-bottom-small {
    padding-bottom: 2%;
}

.padding-top {
    padding-top: 5%;
}

.display-image {
    display: block;
    max-width: 50%;
    height: auto;
}

.small-text > h2 {
    font-size: small;
}

.small-text > p {
    font-size: small;
}

.command-card-container > * {
    margin: 0 0.2vw;
}
