<div class="container-fluid home-row ">
    <div class="row d-flex flex-row justify-content-center padding-top-small">
        <h1 class="large-text">Website in construction</h1>
    </div>
        <!--
        <img class="img-fluid img-responsive" src="https://cdn.hifumi.io/website/assets/law.png" alt="">
        <img class="img-fluid img-responsive" src="https://cdn.hifumi.io/website/assets/office-material.png" alt="">-->
    <!--<div class="d-flex mx-auto command-card-container">-->
        <!--<app-command-display [image_src]="'https://cdn.hifumi.io/website/assets/history.png'"-->
        <!--[description]="'Keep up with the history of people in your server'"></app-command-display>-->
        <!--<app-command-display [image_src]="'https://cdn.hifumi.io/xetera/4eB7nNxw2.png'"-->
        <!--[description]="'Look up your favorite animes'"></app-command-display>-->
    <!--</div>-->
    <!--<app-command-display [image_src]="'assets/hifumi_uniform.jpg'"-->
        <!--[description]="'Winner of best girl award 2018'"></app-command-display>-->

</div>
