<div class="container-fluid home-row">
    <div class="row d-flex flex-row justify-content-center padding-top-small">
        <h1 class="large-text">Take control of your server</h1>
        <!--
        <img class="img-fluid img-responsive" src="https://cdn.hifumi.io/website/assets/law.png" alt="">
        <img class="img-fluid img-responsive" src="https://cdn.hifumi.io/website/assets/office-material.png" alt="">-->
    </div>
    <app-command-display [orientation]="0"></app-command-display>

    <div class="row padding-top-small">
        <div class="col-sm-6 text-box text-center">
            <h2>Create your own commands / macros</h2>
            <hr>
            <p>Create customized responses to commonly-asked questions.</p>
        </div>
        <div class="col-sm-6">
            <img class="rounded" src="https://cdn.hifumi.io/xetera/253BXW27B.png" alt="">
        </div>
    </div>

</div>
