<nav class="navbar navbar-expand-lg">
  <div class="navbar-brand">
    <strong>
      <img src="https://cdn.hifumi.io/hifumi_avatar.png" alt="" class="img-fluid brand">
      Hifumi「ひふみん」
    </strong>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>


  <ul class="navbar navbar-nav navbar-collapse collapse" style="
    padding-left: 4%;
">
    <li class="nav-item">
      <a id="home-link" class="menu-link  btn btn-pink navbar-btn" href="">
        <img class="menu-icon" src="https://cdn.hifumi.io/website/nav/house_icon.png" alt="">
        Home <span
        class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a id="commands-link" class="menu-link btn " href="">
        <img class="menu-icon"
             src="https://cdn.hifumi.io/website/nav/commands.png"
             alt="">Commands
      </a>
    </li>
    <li class="nav-item pr-3">
      <a id="api-link" class="btn menu-link" href="" style="font-size: 20px;">
        <img class="menu-icon"
             src="https://cdn.hifumi.io/website/nav/satellite.png"
             alt="">
        API</a>
    </li>
    <li class="nav-item pr-3">
      <a target="_blank" id="bot-invite-link" class="menu-link btn"
         href="https://discordapp.com/oauth2/authorize?client_id=372615866652557312&scope=bot&permissions=268463300">
        <img src="https://cdn.hifumi.io/website/nav/discord_logo.png"
             alt="" class="menu-icon">
        Invite Me</a>
    </li>
    <li class="nav-item pr-3">
      <a target="_blank" id="server-invite-link" class="menu-link btn"
         href="https://discord.gg/RM6KUrf">
        <img src="https://cdn.hifumi.io/website/nav/support_server.png">
        Support Server</a>
    </li>
    <li class="nav-item pr-3">
      <a target="_blank" id="github-link" class="menu-link btn"
         href="https://github.com/ilocereal/Hifumi">
        <img src="https://cdn.hifumi.io/website/nav/github.png"
             alt="" class="menu-icon">
        Github</a>
    </li>
  </ul>

</nav>
