<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png"
          href="{{ url_for('static', filename='hifumi_avatar.png') }}">
    <title>-Hifumi-</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg">
    <div class="navbar-brand">
        <strong>
            <img src="{{ url_for('static', filename='hifumi_avatar.png') }}" alt="" class="img-fluid brand">
            Hifumi「ひふみん」
        </strong>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>


    <ul class="navbar navbar-nav navbar-collapse collapse" style="
    padding-left: 4%;
">
        <li class="nav-item">
            <a id="home-link" class="menu-link  btn btn-pink navbar-btn" href="{{ url_for('.home') }}">
                <img class="menu-icon" src="{{ url_for('static', filename='house_icon.png') }}" alt="">
                Home <span
                    class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a id="commands-link" class="menu-link btn " href="{{ url_for('.commands') }}">
                <img class="menu-icon"
                     src="{{ url_for('static', filename='navbar_icons/commands.png') }}"
                     alt="">Commands
            </a>
        </li>
        <li class="nav-item pr-3">
            <a id="api-link" class="btn menu-link" href="" style="font-size: 20px;">
                <img class="menu-icon"
                     src="{{ url_for('static', filename='navbar_icons/satellite.png') }}"
                     alt="">
                API</a>
        </li>
        <li class="nav-item pr-3">
            <a target="_blank" id="bot-invite-link" class="menu-link btn"
               href="https://discordapp.com/oauth2/authorize?client_id=372615866652557312&scope=bot&permissions=268463300">
                <img src="{{ url_for('static', filename='navbar_icons/discord_logo.png') }}"
                     alt="" class="menu-icon">
                Invite Me</a>
        </li>
        <li class="nav-item pr-3">
            <a target="_blank" id="server-invite-link" class="menu-link btn"
               href="https://discord.gg/RM6KUrf">
                <img src="{{ url_for('static', filename='navbar_icons/support_server.png') }}" alt="" class="menu-icon">
                Support Server</a>
        </li>
        <li class="nav-item pr-3">
            <a target="_blank" id="bot-invite-link" class="menu-link btn"
               href="https://github.com/ilocereal/Hifumi">
                <img src="{{ url_for('static', filename='navbar_icons/github.png') }}"
                     alt="" class="menu-icon">
                Github</a>
        </li>
    </ul>

</nav>
<br>

{% block content %}
{% endblock %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

</html>
